.wrapper {
  position: absolute;
  bottom: 70px;
  right: 0;
  flex-flow: row-reverse;
  display: flex;
  z-index: 2;
  pointer-events: auto;
}

.chat {
  position: relative;

  background-color: #b1b1b1c0;
  box-shadow: 4px 4px 4px #eeeeeec0;
  border: 1px solid #eee;
  border-radius: 7px;

  max-width: 310px;
  width: 100%;
  max-height: 310px;

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;

    :hover {
      color: #167dd1;
    }
  }

  .title {
    font-size: 19px;
    text-align: center;
    margin: 0;
  }

  .messageContainer {
    background-color: #f1f1f1a6;
    max-height: 180px;
    overflow-y: auto;
    padding: 8px;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
      background-color: #f9f9fd;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, #00c6fb, #005bea);
    }

    .messagies {
      .message {
        .messageUser {
          font-weight: 600;
        }

        .messageText {
          font-size: 14px;
        }
      }
    }

    .typingMessage {
      font-size: 12px;
      font-style: italic;
    }
  }

  .setOfFields {
    display: flex;

    .input {
      width: 260px;
    }
  }
}

@media (max-width: 450px) {
  .chat {
    max-width: 250px;
  }
}
