.wrapper {
  position: absolute;
  bottom: 100px;
  right: 0;
  flex-flow: row-reverse;
  display: flex;
  z-index: 2;
}

.chat {
  position: relative;

  background-color: #ddddddc0;
  box-shadow: 4px 4px 4px #eeeeeec0;
  border: 1px solid #eee;
  border-radius: 7px;

  max-width: 310px;
  width: 100%;
  max-height: 310px;

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  .title {
    font-size: 19px;
    text-align: center;
    font-style: italic;
  }

  .messageContainer {
    background-color: #dddddd49;
    max-height: 180px;
    overflow-y: auto;
    padding: 8px;

    .messagies {
      .message {
        .messageUser {
          font-weight: 600;
        }

        .messageText {
          font-style: italic;
        }
      }
    }

    .typingMessage {
      font-style: italic;
    }
  }

  .setOfFields {
    display: flex;

    .input {
      width: 260px;
    }
  }
}
