.userCard {
  margin: 9px 0;
  max-width: 300px;
  width: 100%;
  box-shadow: 4px 4px 4px #00000040;
  border-radius: 4px;
  position: relative;
  border: 1px solid #d9d9d9;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    .avatar {
      margin-right: 20px;
      background-color: #87d068;
      font-weight: bold;

      &.small {
        margin-right: 5px;
      }
    }

    .user {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .isYou {
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
      }

      .isYouEmpty {
        font-size: 17px;
        line-height: 20px;
      }

      .name {
        margin-bottom: 5px;
        font-size: 22px;
        line-height: 24px;

        &.small {
          font-size: 16px;
          line-height: 18px;
        }
      }

      .jobStatus {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 12px;
        height: 12px;
      }
    }

    .kick {
      position: absolute;
      right: 10px;
      top: calc(50% - 15px);
      cursor: pointer;

      :hover {
        color: #e00;
      }
    }
  }

  .crownWrapper {
    position: absolute;
    top: 7px;
    right: 7px;

    .crown {
      color: #60dabf;
      font-size: 18px;
    }
  }
}

@media (max-width: 680px) {
  .userCard {
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  .userCard {
    .wrapper {
      display: block;
      text-align: center;

      .avatar {
        margin-right: 0;
      }

      .user {
        align-items: center;
        margin-top: 5px;
      }

      .kick {
        right: 15px;
        top: 15px;
      }
    }
  }
}
