.issuesList {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .issue {
      margin: 16px;
      padding: 20px;
      font-size: 26px;
      line-height: 30px;
      font-weight: 600;
      background: #fff;
      box-shadow: 4px 4px 4px #00000040;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      display: flex;
      align-items: center;
      transition: 0.3s;

      .task {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 165px;
      }

      .current {
        display: none;
      }

      &.vertical {
        width: 290px;
        justify-content: space-between;
      }

      &.active {
        background-color: #60dabf54;
        transform: scale(1.05);
        box-shadow: 6px 6px 6px #00000040;

        .current {
          margin: 0;
          font-size: 11px;
          display: block;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }

      &.dealer {
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          box-shadow: 6px 6px 6px #00000040;
        }
      }

      .edit {
        margin: 0 10px;
        cursor: pointer;

        :hover {
          color: #1890ff;
        }
      }

      .delete {
        margin: 0 10px;
        cursor: pointer;

        :hover {
          color: #e00;
        }
      }

      .plus {
        margin: 0 10px;
      }
    }

    .issue.issueCreate {
      font-size: 22px;
    }

    .issue.issueCreate:hover {
      cursor: pointer;

      .plus {
        color: #60dabf;
      }
    }

    &.vertical {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: 680px) {
  .issuesList {
    width: 90%;

    &.horizontal {
      width: 100%;
    }

    .wrapper {
      flex-direction: column;
      flex-wrap: inherit;

      .issue {
        justify-content: space-between;
        width: 100%;

        &.vertical {
          width: 100%;
        }

        .delete {
          margin: 0px;
        }
      }

      &.vertical {
        align-items: center;
        flex-wrap: inherit;
      }
    }
  }
}

@media (max-width: 450px) {
  .issuesList {
    .wrapper {
      .issue {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
