.btnsControl {
  margin-bottom: 2rem;

  .control {
    display: flex;
    justify-content: space-between;
  }

  .exit {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 680px) {
  .btnsControl {
    .control {
      flex-direction: column;
      gap: 15px;
    }
  }
}
