.wrapperChat {
  position: sticky;
  bottom: 20px;
  pointer-events: none;

  .chatBtn {
    position: relative;
    display: block;
    margin-left: auto;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    pointer-events: auto;
  }
}
