.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #edf6fd;

  .main {
    padding: 20px;
    font-family: 'Poppins', 'Segoe UI', 'Roboto', sans-serif;
  }
}
