.lobbyPage {
  margin-bottom: 50px;

  .scramMaster {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #555;
  }

  .card {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }

  .wrapperChat {
    position: sticky;
    bottom: 30px;
  }

  .chatBtn {
    position: relative;
    display: block;
    margin-left: auto;
    height: 85px;
    width: 85px;
    border-radius: 100%;
  }
}
