.lobbyPage {
  background: #fff;
  padding: 25px;

  .scramMaster {
    font-size: 20px;
    line-height: 22px;
  }

  .card {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }
}
