.header {
  .logo {
    position: absolute;
    top: 22px;
    left: 35px;
    width: 63px;
    height: 63px;
    object-fit: cover;
    cursor: pointer;
  }

  .top {
    position: relative;
    height: 50px;
    background-color: #2b3a67;
  }

  .bottom {
    height: 20px;
    background-color: #66999b;
    margin-bottom: 20px;
  }
}
