.header {
  .logo {
    position: absolute;
    top: 5px;
    left: 12px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
  }

  .top {
    height: 38px;
    background-color: #1890ff;
  }

  .bottom {
    height: 19px;
    background-color: #6fb9ff;
  }

  .underBottom {
    height: 9px;
    background-color: #add7ff;
  }

  .title {
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: #fff;
  }
}
