.statistics {
  .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .percent {
      font-weight: bold;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
    }
  }
}
