.gamePage {
  background: #fff;
  padding: 25px;
}

.gameInner {
  display: flex;
  justify-content: space-between;

  .scramControl {
    border-right: 4px solid #eee;
    flex-basis: 60%;
    padding: 0 20px;

    .scramMaster {
      font-size: 20px;
      line-height: 22px;
    }

    .card {
      width: 100%;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
    }

    .fieldControl {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .field {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .timer {
        width: 200px;
      }
    }

    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .gameCards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .userControl {
    padding-left: 15px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 40%;

    .title {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }

    .score {
      width: 30%;
    }

    .players {
      width: 100%;
    }

    .score,
    .players {
      padding: 0px 10px;

      .data {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 9px 0px;
        height: 74px;
        max-width: 300px;
        width: 100%;
        box-shadow: 4px 4px 4px #00000040;
        border-radius: 4px;
        border: 1px solid #d9d9d9;

        .dash {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .gameInner {
    flex-direction: column-reverse;
    gap: 20px;

    .scramControl {
      border-right: inherit;
    }

    .userControl {
      flex-basis: 100%;

      .title {
        max-width: 300px;
        width: 100%;
      }

      .score,
      .players {
        width: 100%;
      }
    }
  }
}

@media (max-width: 680px) {
  .gameInner {
    .scramControl {
      .field {
        flex-direction: column-reverse;
      }

      .box {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 25px;

        button {
          width: 100%;
        }
      }
    }

    .userControl {
      gap: 20px;
      padding: 0 20px;

      .title {
        max-width: 100%;
      }

      .score {
        width: 30%;
      }

      .score,
      .players {
        padding: 0px;

        .data {
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .gamePage {
    padding: 25px 15px;
  }

  .gameInner {
    .scramControl {
      padding: inherit;

      .scramMaster {
      }

      .card {
      }

      .fieldControl {
      }

      .field {
        .timer {
        }
      }

      .box {
        button {
        }
      }

      .gameCards {
      }
    }

    .userControl {
      padding: inherit;
      // ТУТ

      .title {
      }

      .score {
      }

      .players {
      }

      .score,
      .players {
        .data {
          .dash {
          }
        }
      }
    }
  }
}
