.gamePage {
  margin-bottom: 50px;
}

.gameInner {
  display: flex;
  justify-content: space-between;

  .scramControl {
    border-right: 4px solid #eee;
    flex-basis: 60%;
    padding: 0 20px;

    .scramMaster {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #555;
    }

    .card {
      width: 100%;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
    }

    .fieldControl {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .field {
      display: flex;
      align-items: center;

      .timer {
        margin: 0 0 0 25px;
        width: 200px;
      }
    }

    .gameCards {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .userControl {
    padding: 0 15px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 40%;

    .title {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }

    .score,
    .players {
      width: 50%;
      padding: 0px 10px;

      .data {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 9px;
        height: 52px;

        .dash {
          font-size: 25px;
        }
      }
    }
  }
}
